<!-- Defined the app footer -->
<template>
  <v-footer absolute class="pa-3">
    <v-spacer></v-spacer>
    <v-layout row justify-center>
      <v-flex>
        <div>Aurélien Satger &copy; {{ new Date().getFullYear() }}</div>
      </v-flex>
    </v-layout>
  </v-footer>
</template>