<template>
  <div>
    <header-item></header-item>
    <v-form ref="form" v-model="valid" lazy-validation>
      <v-container>
        <v-layout row>
          <a>
            <v-icon @click="cancel" large>arrow_back</v-icon>
          </a>
        </v-layout>
        <v-layout row justify-center>
          <v-flex xs12 md6>
            <v-card>
              <v-card-title>
                <h1>Film</h1>
              </v-card-title>

              <v-card-text>
                <v-text-field
                  v-model="movie.title"
                  :rules="[rules.required]"
                  label="Titre"
                  required
                ></v-text-field>

                <v-text-field
                  v-model="movie.release_date"
                  :rules="[rules.required, rules.valid_date]"
                  label="Date de sortie"
                  :mask="mask_date"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="movie.language"
                  :rules="[rules.required]"
                  label="Langage"
                  :mask="mask_nationaity"
                  placeholder="FR, EN, US, ..."
                  required
                ></v-text-field>

                <v-textarea
                  v-model="movie.synopsis"
                  :rules="[rules.required]"
                  label="Synopsis"
                  required
                ></v-textarea>

                <v-text-field v-model="movie.type" :rules="[rules.required]" label="Type" required></v-text-field>

                <v-text-field
                  v-model="movie.poster"
                  :rules="[rules.required]"
                  label="Poster"
                  required
                ></v-text-field>

                <v-rating
                  v-model="movie.rating"
                  medium
                  background-color="yellow accent-4"
                  color="yellow accent-4"
                  dense
                  hover
                  size="18"
                ></v-rating>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>

        <v-layout row justify-center>
          <v-flex xs12 md6>
            <v-card>
              <v-card-title>
                <h1>Réalisateur</h1>
              </v-card-title>
              <v-card-text>
                <v-text-field
                  v-model="movie.director.name"
                  :rules="[rules.required]"
                  label="Nom"
                  required
                ></v-text-field>
                <v-text-field
                  v-model="movie.director.nationality"
                  :rules="[rules.required]"
                  label="Nationalité"
                  :mask="mask_nationaity"
                  placeholder="FR, EN, US, ..."
                  required
                ></v-text-field>

                <v-menu
                  ref="menu_birth_date"
                  :close-on-content-click="false"
                  v-model="menu_birth_date"
                  :nudge-right="40"
                  :return-value.sync="movie.director.birth_date"
                  lazy
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="movie.director.birth_date"
                    label="Date de naissance"
                    prepend-icon="event"
                    :rules="[rules.required]"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    v-model="movie.director.birth_date"
                    no-title
                    scrollable
                    :max="max_date_birth_date"
                  >
                    <v-spacer></v-spacer>
                    <v-btn flat color="primary" @click="menu_birth_date = false">Cancel</v-btn>
                    <v-btn
                      flat
                      color="primary"
                      @click="$refs.menu_birth_date.save(movie.director.birth_date)"
                    >OK</v-btn>
                  </v-date-picker>
                </v-menu>

                <v-text-field
                  v-model="movie.director.photo"
                  :rules="[rules.required]"
                  label="Photo"
                  required
                ></v-text-field>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-layout>

        <v-layout row wrap justify-center>
          <v-flex xs12 md6>
            <v-card>
              <v-layout row justify-center>
                <v-btn :disabled="!valid" dark @click="validate">Enregistrer</v-btn>
                <v-btn @click="reset">Réinitialiser</v-btn>
                <v-btn color="#ff5252" dark @click="cancel">Annuler</v-btn>
              </v-layout>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-form>
    <br>
    <footer-item></footer-item>
  </div>
</template>

<script>
export default {
  data: () => ({
    // create a mask for the release_date and nationality
    mask_date: "####",
    mask_nationaity: "AA",

    menu_release_date: false,
    menu_birth_date: false,

    movies: window.shared_data.movies,

    valid: true,

    // defined rules to respect to submit form
    rules: {
      required: v => !!v || "Champ requis",
      valid_date: v =>
        new Date(v.toString()).getFullYear() <= new Date().getFullYear() + 5 ||
        "La date ne doit pas dépasser " +
          (new Date().getFullYear() + 5).toString()
    }
  }),
  methods: {
    /**
     *  Method to validate the form and register new movie
     */
    validate() {
      if (this.$refs.form.validate()) {
        if (!this.$route.params["id"]) {
          // on edit add page

          // set the id of the new movie and push it in the movies array
          this.movie.id = this.movies[this.movies.length - 1].id + 1;
          this.movies.push(this.movie);
          this.movie = {};

          this.$router.go(-1);
        } else {
          // on edit page
          this.$router.replace({
            name: "movie-details",
            params: { id: this.movie.id }
          });
        }
      }
    },
    /**
     *  Method to reset the form
     */
    reset() {
      this.$refs.form.reset();
    },
    /**
     *  Method to cancel editing or adding
     */
    cancel() {
      if (!this.$route.params["id"]) {
        // on add page
        this.$router.replace({ name: "home" });
      } else {
        // on edit page
        this.$router.replace({
          name: "movie-details",
          params: { id: this.movie.id }
        });
      }
    }
  },
  computed: {
    /**
     * Calculate the max release_date allowed
     */
    max_date_release_date: function() {
      return new Date().getFullYear() + 5;
    },
    /**
     * Calculate the max birth_date allowed
     */
    max_date_birth_date: function() {
      return new Date().toISOString();
    },
    /**
     * Initialize the movie
     */
    movie: function() {
      if (this.$route.params["id"]) {
        // on edit page
        return this.movies.find(obj => {
          // find the movie with id among movies
          return obj.id == this.$route.params["id"];
        });
      } else {
        // on add page
        return {
          release_date: "",
          director: {},
          rating: 0
        };
      }
    }
  }
};
</script>