<template>
  <div>
    <header-item></header-item>

    <v-container>
      <v-layout row justify-center>
        <v-flex xs12 md6>
          <v-text-field prepend-icon="search" v-model="search" solo hide-details single-line></v-text-field>
        </v-flex>
      </v-layout>
      <br>

      <v-layout row wrap>
        <v-flex xs12>
          <h2>
            Il y a actuellement
            {{movies.length}} films enregistré(s)
          </h2>
        </v-flex>
        <v-flex xs12>
          <h3 v-if="search">
            Résultat trouvé dans:
            <i>{{filter}}</i>
          </h3>
        </v-flex>
      </v-layout>

      <v-layout row wrap>
        <movie-item
          v-for="(movie, index) in movies_search"
          v-bind:key="movie.title"
          v-bind:movie="movie"
          v-on:edit="edit(index)"
        ></movie-item>
      </v-layout>

      <router-link v-bind:to="{ name: 'add' }">
        <v-btn color="#F44336" dark fixed bottom right fab>
          <v-icon>add</v-icon>
        </v-btn>
      </router-link>
    </v-container>
    <footer-item></footer-item>
  </div>
</template>

<script>
export default {
  data() {
    return {
      // initialize variables
      filter: "",
      search: "",
      movies: window.shared_data.movies
    };
  },

  computed: {
    /**
     * Made the research with different filter such as type, title, ...
     */
    movies_search: function() {
      return this.movies.filter(m => {
        if (m.title.toLowerCase().indexOf(this.search.toLowerCase()) != -1) {
          this.filter = "Titre";
          return true;
        }
        if (m.type.toLowerCase().indexOf(this.search.toLowerCase()) != -1) {
          this.filter = "Type";
          return true;
        }
        if (m.language.toUpperCase().indexOf(this.search.toUpperCase()) != -1) {
          this.filter = "Langage";
          return true;
        }
        if (
          m.director.name.toUpperCase().indexOf(this.search.toUpperCase()) != -1
        ) {
          this.filter = "Réalisateur";
          return true;
        }
      });
    }
  }
};
</script>

<style>
</style>


