<template>
  <v-flex xs12 sm6 md3>
    <router-link v-bind:to="{ name: 'movie-details', params: { id: movie.id } }">
      <a>
        <v-hover>
          <v-card
            class="ma-3 `elevation-${hover ? 12 : 2}`"
            slot-scope="{ hover }"
            :class="`elevation-${hover ? 12 : 2}`"
            width="200px"
          >
            <v-img :src="movie.poster" aspect-ratio="0.75" height="auto"></v-img>

            <v-card-title primary-title>
              <v-layout row align-center fill-height class="headline">
                <h5>
                  <v-icon>star</v-icon>
                  {{movie.rating}}
                </h5>
                <v-spacer></v-spacer>
                <h5>{{movie.release_date}}</h5>
              </v-layout>
            </v-card-title>
          </v-card>
        </v-hover>
      </a>
    </router-link>
  </v-flex>
</template>

<script>
export default {
  data: function() {
    return {};
  },

  // get movie from parent
  props: ["movie"],

  methods: {
    /**
     * call onEdit method of the parent composant
     */
    onEdit: function() {
      this.$emit("edit");
    },
    /**
     * call onDelete method of the parent composant
     */
    onDelete: function() {
      this.$emit("remove");
    }
  }
};
</script>

<style>
a {
  text-decoration: none;
}
.v-card--reveal {
  align-items: center;
  bottom: 0;
  justify-content: center;
  opacity: 0.95;
  position: absolute;
  width: 100%;
}
</style>