<template>
  <div>
    <header-item></header-item>
    <v-container>
      <v-layout row>
        <a>
          <v-icon @click="go_back" large>arrow_back</v-icon>
        </a>
      </v-layout>
      <v-layout row wrap justify-center>
        <v-flex xs10>
          <v-img :src="movie.poster" contain height="400px" class="rounded-img"></v-img>
        </v-flex>
        <v-flex xs12>
          <h1 class="text-xs-center">{{movie.title}}</h1>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-center>
        <v-flex xs12 md8 class="mt-3">
          <v-card>
            <v-card-title>
              <v-layout row wrap align-center justify-space-between>Noter:
                <v-rating
                  v-model="movie.rating"
                  medium
                  background-color="yellow accent-4"
                  color="yellow accent-4"
                  dense
                  hover
                  size="18"
                ></v-rating>
                <h2>({{movie.rating}})</h2>
                <v-spacer></v-spacer>

                <router-link v-bind:to="{ name: 'edit', params: { id: movie.id } }">
                  <v-btn flat>Editer
                    <v-icon medium right>edit</v-icon>
                  </v-btn>
                </router-link>
                <v-btn flat color="#F44336" @click="remove(movie)">Supprimer
                  <v-icon medium right>delete</v-icon>
                </v-btn>
              </v-layout>
            </v-card-title>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout row wrap justify-center>
        <v-flex xs12 md8 class="mt-3">
          <v-card>
            <v-card-title>
              <h2>Synopsis</h2>
            </v-card-title>
            <v-card-text>{{movie.synopsis}}</v-card-text>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout row wrap justify-center>
        <v-flex xs12 md8 class="mt-3">
          <v-card>
            <v-card-title>
              <h2>Réalisateur</h2>
            </v-card-title>
            <v-layout row wrap justify-center>
              <v-flex xs8 md2>
                <v-img class="ma-3 rounded-img" :src="movie.director.photo"></v-img>
              </v-flex>
              <v-flex xs12 md10>
                <v-card-text>
                  <v-text-field :value="movie.director.name" label="Nom" readonly></v-text-field>
                  <v-text-field :value="movie.director.nationality" label="Nationalité" readonly></v-text-field>
                  <v-text-field :value="movie.director.birth_date" label="Naissance" readonly></v-text-field>
                </v-card-text>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout row wrap justify-center>
        <v-flex xs12 md8 class="mt-3">
          <v-card>
            <v-card-title>
              <h2>Details</h2>
            </v-card-title>
            <v-card-text>
              <v-text-field :value="movie.title" label="Titre" readonly></v-text-field>
              <v-text-field :value="movie.release_date" label="Date de sortie" readonly></v-text-field>
              <v-text-field :value="movie.language" label="Langage" readonly></v-text-field>
              <v-text-field :value="movie.type" label="Genre" readonly></v-text-field>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <br>
    <footer-item></footer-item>
  </div>
</template>

<script>
export default {
  data: () => ({
    // initialize variable
    movies: window.shared_data.movies
  }),

  methods: {
    /**
     * Remove the current movie in the movies array
     */
    remove: function(movie) {
      // get the index of the movie in the movies array
      let index = this.movies.findIndex(obj => {
        return obj.id == this.movie.id;
      });
      // delete movie
      this.movies.splice(index, 1);
      this.$router.go(-1);
    },
    /**
     * Allow to go back on Home page
     */
    go_back: function() {
      this.$router.replace({
        name: "home"
      });
    }
  },

  computed: {
    /**
     * Return the movie variable with the id
     */
    movie: function() {
      return this.movies.find(obj => {
        return obj.id == this.$route.params["id"];
      });
    }
  }
};
</script>

<style>
.rounded-img {
  border-radius: 3px;
}
</style>
